@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.c1{
  display: inline-block;
}
.c2{
  display: inline-block;
}
.c3{
  display: inline-block;
}
.c4{
  display: inline-block;
}
h1{
  font-size: 3.2rem;
  margin-top: 1%;
}
h1 .type{
    font-size: 2.5rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
}
h1 .type2{
    font-size: 2.5rem; 
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 1s;
}
h1 .type3{
    font-size: 2.5rem; 
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 2s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
}